@font-face {
  font-family: $base-font-family;
  src: url('~assets/fonts/Arsenal-Regular.ttf') format('truetype');
  font-display: fallback;
  font-style: normal;
  font-weight: $fw-regular;
}

@font-face {
  font-family: $base-font-family;
  src: url('~assets/fonts/Arsenal-Bold.ttf') format('truetype');
  font-display: fallback;
  font-style: normal;
  font-weight: $fw-bold;
}

html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: $c-blue-dianne;
  font-family: $base-font-family;
  opacity: 1;
  transition: opacity 1s;

  &.hidden {
    opacity: 0;
  }
}

h2,
h3,
h4,
p {
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 1920px;
  position: relative;

  @include desktop {
    margin-top: -140px;
  }
}
