html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: $c-blue-dianne;
  font-family: $base-font-family;
  opacity: 1;
  transition: opacity 1s;

  &.hidden {
    opacity: 0;
  }
}

h2,
h3,
h4,
p {
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 1920px;
  position: relative;

  @include desktop {
    margin-top: -140px;
  }
}

