$base-font-family: Arsenal;
$base-font-size: 14px;

$bp-tablet: 768px;
$bp-desktop: 1024px;
$bp-container-inner: 1170px;
$bp-desktop-big: 1366px;

$tablet: 769px;
$container-inner: 1270px;
$desktop: 1025px;
$desktop-big: 1367px;
$desktop-big-image: 1566px;

$c-bali-hai: #809faf;
$c-blue-dianne: #235466;
$c-botticelli: #d7e9ed;
$c-porcelain: #e8e9ea;
$c-white: #fff;

$fs-12: 12px;
$fs-14: 14px;
$fs-22: 22px;
$fs-38: 38px;

$fw-regular: 400;
$fw-bold: 700;

$lh-16: 16px;
$lh-22: 22px;
$lh-26: 26px;
$lh-46: 46px;
